In [1]:
import pandas as pd

# Location of dataset
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

# Assign colum names to the dataset
names = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'Class']

# Read dataset to pandas dataframe
irisdata = pd.read_csv(url, names=names)

In [2]:
#To see what this dataset actually looks like
irisdata.head()

   sepal-length  sepal-width  petal-length  petal-width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [3]:
# Assign data from first four columns to X variable
X = irisdata.iloc[:, 0:4]
X

     sepal-length  sepal-width  petal-length  petal-width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [4]:
# Assign data from fifth columns to y variable
y = irisdata.select_dtypes(include=[object])
y

              Class
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 1 columns]

In [5]:
y.Class.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [6]:
#convert these categorical values to numerical values
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

y = y.apply(le.fit_transform)
y

     Class
0        0
1        0
2        0
3        0
4        0
..     ...
145      2
146      2
147      2
148      2
149      2

[150 rows x 1 columns]

In [7]:
#Train Test Split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.70)

In [8]:
#Feature Scaling
from sklearn.preprocessing import StandardScaler, MinMaxScaler
scaler = StandardScaler()
#scaler = MinMaxScaler(feature_range=(0, 1))
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [9]:
X_train.shape

(45, 4)

In [10]:
#Training
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier()
mlp.fit(X_train, y_train.values.ravel())

/usr/local/lib/python3.8/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

MLPClassifier()

In [11]:
#Prediction
y_pre = mlp.predict(X_test)
y_pre

array([0, 0, 1, 2, 0, 2, 2, 2, 2, 0, 2, 1, 0, 2, 1, 0, 1, 0, 0, 1, 1, 0,
       1, 0, 2, 1, 0, 1, 1, 1, 0, 2, 1, 2, 0, 1, 2, 1, 0, 0, 1, 0, 2, 0,
       0, 1, 2, 0, 2, 1, 0, 2, 1, 2, 0, 1, 2, 2, 0, 1, 2, 2, 2, 1, 1, 0,
       0, 2, 1, 1, 1, 1, 0, 2, 2, 2, 1, 2, 1, 1, 2, 1, 1, 0, 2, 0, 2, 0,
       1, 1, 2, 0, 0, 2, 2, 2, 0, 2, 1, 2, 1, 0, 2, 1, 0])

In [12]:
print(y_pre)
y_test = y_test.values.ravel()
print(y_test)

[0 0 1 2 0 2 2 2 2 0 2 1 0 2 1 0 1 0 0 1 1 0 1 0 2 1 0 1 1 1 0 2 1 2 0 1 2
 1 0 0 1 0 2 0 0 1 2 0 2 1 0 2 1 2 0 1 2 2 0 1 2 2 2 1 1 0 0 2 1 1 1 1 0 2
 2 2 1 2 1 1 2 1 1 0 2 0 2 0 1 1 2 0 0 2 2 2 0 2 1 2 1 0 2 1 0]
[0 0 1 2 0 2 2 2 2 0 1 1 0 2 1 0 1 0 0 1 1 0 1 0 2 1 0 1 1 1 0 2 1 2 0 1 2
 1 0 0 1 0 2 0 0 1 1 0 2 1 0 2 1 2 0 1 2 2 0 1 2 2 2 1 1 0 0 2 1 1 2 1 0 2
 2 2 1 2 1 1 2 1 1 0 2 0 2 0 1 1 2 0 0 2 2 2 0 2 1 2 1 0 2 1 0]

In [13]:
from sklearn.metrics import accuracy_score
pa_mp = accuracy_score(y_test, y_pre, normalize=False)
print("Classification accuracy of multilayer perceptron is", pa_mp/len(y_test))

Classification accuracy of multilayer perceptron is 0.9714285714285714